/* contianer */
/* page wrapper */
#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  background-color: blue;
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}

/* body items*/
#header {
  display: flex;
  justify-content: center;
}
/* jeopardy header */
h1 {
  font-size: 50px;
  margin-bottom: 0%;
}
/* answer input box */
#inputBox {
  border: crimson solid 3px;
  margin: 15px;
}
/* guess and pass button styling */
.button {
  margin: 15px;
  height: 40px;
  width: 80px;
}
/* score boxes  */
.score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: stretch;
  width: 90vw;
  display: flex;
  font-size: 30px;
}

.score1 {
  display: flex;
  font-size: 30px;
}

.score2 {
  display: flex;
  font-size: 30px;
}
/* current round container  */
.roundContainer {
  display: flex;
  justify-content: flex-end;
}
/* current round  */
.round2 {
  height: 40px;
  width: 80px;
}
/* round timer styling  */
#roundTimer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: stretch;
  width: 90vw;
}
/* timers surounding div box  */
.timerBox {
  display: flex;
  flex-direction: row;
  font-size: 30px;
}
/* pages body styling  */
body {
  background-color: blueviolet;
  margin-bottom: 50px;
  font-family: "Scheherazade New", serif;
}

/* jeopardy grid */

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 900px;
  height: 600px;
  gap: 1rem;
  grid-template-areas:
    "jeoSquare jeoSquare jeoSquare jeoSquare jeoSquare jeoSquare"
    "jeoSquare jeoSquare jeoSquare jeoSquare jeoSquare jeoSquare"
    "jeoSquare jeoSquare jeoSquare jeoSquare jeoSquare jeoSquare"
    "jeoSquare jeoSquare jeoSquare jeoSquare jeoSquare jeoSquare"
    "jeoSquare jeoSquare jeoSquare jeoSquare jeoSquare jeoSquare";
}
/* style for grid */
.jeoSquare {
  grid-area: "jeoSquare";
  border: crimson solid 3px;
  text-align: center;
  color: yellow;
  font-size: 40px;
}
